.env

__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/
ENV/


.idea/
.vscode/
*.swp
*.swo


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

node_modules/

*.log
*.sql
*.sqlite

.env
.flaskenv

.git
.gitattributes
.gitignore
.gitmodules
build.sh
deploy.sh
